* {
    outline: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

#container
{
	padding: 2%;
}

h1
{
	font-weight: 400;
	font-size: 1em;
}

h2
{
	font-weight: 100;
	font-size: 3em;
}

#mc_embed_signup
{
	margin-top: 16%;
}

div.mc-field-group input
{
	border-bottom: 1px solid black;
	background: none;
	border-top: none;
	border-left: none;
	border-right: none;
	height: 60px;
	max-width: 500px;
	font-size: 2em;
	font-weight: 100;
	color: #e7e7e7;
}

div.mc-field-group input:focus
{
	color: #000;
}

input.button
{
	background: none;
	border: none;
	height: 50px;
	color: blue;
	font-size: 2em;
	font-weight: 100;
	padding: 0;
}

input.button:active
{
	margin-top:2px;
}

input.button:hover
{
}